body{
    background: url('https://elasticsearch.cn/static/css/default/img/bg.jpg');
}
.content{
    margin:30px 80px 0px 80px;
    background-color: #f7f7f7;
}
.content .padding{
    padding: 10px;
    border-right: 1px solid white;
}
.aw-user-name{
    color: #666;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}
.tip{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 160%;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.tagInfo{
    color: #999;
    font-size: 12px;
}
.tagInfo span{
    display: inline-block;
    margin-right: 15px;
}
.text-user{
    color: #155faa;
}
.text-999{
    color: #999;
}
/*描述信息*/
.desc{
    word-break:keep-all;       /* 不换行 */
    white-space:nowrap;        /* 不换行 */
    overflow:hidden;           /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}