.circle{
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.title .active{
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}
.common-a{
    padding: 10px;
    color: #969696;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}
a:hover,a:focus{
    color: #3f3f3f;
    text-decoration: none;
}
.title{
    margin-bottom: 50px;
}
.modal-content{
    padding:30px;
}
table{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    min-width: 300px !important;
    position: relative;
}
table tr{
    border: 1px solid #c0c0c0;
    background-color: hsla(0,0%,71%,.1);
}
table tr td:first-child{
    width: 45px;
}
table tr td:last-child{
    width: 270px;
}
#errorPwd{
    height: 50px;
    width: 142px;
    position: absolute;
    line-height: 50px;
    color: red;
    margin-left: 5px;
    right: -146px;
}
table input{
    background-color:hsla(0,0%,100%,.1);
    border: none;
    height: 50px;
    outline: none;
    float: left;
    width: 100%;
    padding-right: 10px;
}
.btn-div{
    text-align: center;
    margin-top: 29px;
}
#register-btn,#btn-login{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #3db922;
    color: white;
}
button:focus{
    outline: 0;
}
.sign-up-msg{
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}
.more-sign{
    margin-top: 50px;
    text-align: center;
}
.more-sign h6{
    position: relative;
    margin: 0 0 10px;
    font-size: 12px;
    color: #b5b5b5;
}
.more-sign h6:after,.more-sign h6:before{
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}
.more-sign h6:before{
    left: 30px;
}
.more-sign h6:after{
    right: 30px;
}
.more-sign ul{
    margin-bottom: 10px;
    list-style: none;
}
.more-sign ul li{
    margin: 0 5px;
    display: inline-block;
}
.more-sign ul li a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hotQuest{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}
.hotQuest li{
    border-bottom: 1px solid #c0c0c0;
    height: 40px;
    line-height: 40px;
}
.hotQuest li a{
    color: black;
}
.hotQuest li a:hover{
    color: red;
}