body{
    background: url('https://elasticsearch.cn/static/css/default/img/bg.jpg');
}
.content{
    margin:30px 80px 0px 80px;
    background-color: #f7f7f7;
}
.content .padding{
    padding: 10px;
    border-right: 1px solid white;
}