<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div th:replace="~{navigation::nav}"></div>
<!--发布的内容标签-->
<div class="container col-lg-10">
    <div class="jumbotron" style="padding: 20px;">
        <h1>出错了</h1>
        <!--/*@thymesVar id="message" type="com.sofency.community.advice.CustomizeExceptionHandler"*/-->
        <p th:text="${message}">客官要不稍等一会再访问</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script
</body>
</html>