<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <script src="/static/js/default-image.js"></script>
    <script src="/static/js/login.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            const flag = window.localStorage.getItem("closeable");
            if (flag == "true") {
                window.close()
                window.localStorage.removeItem("closeable");
            }
        }
    </script>
</head>
<body>
<div th:replace="~{navigation::nav}"></div>
<!--发布的内容标签-->
<div class="container content col-lg-10">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 padding">
            <h3>
                <svg class="bi bi-list" width="1.2em" height="1.2em" viewBox="0 0 20 20" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                          clip-rule="evenodd"></path>
                </svg>
                发现
            </h3>
            <hr>
            <!--问题列表-->
            <div class="media" th:if="${questions!=null}" th:each="question:${questions.data}">
                <img class="media-object img-rounded img mr-3" th:src="${question.user.avatarUrl}" alt="..." width="38"
                     height="38" onerror="nofind();">
                <div class="media-body">
                    <h6><a th:href="@{'/question/'+${question.id}}" class="margin-top-0"><span class="media-heading"
                                                                                               th:text="${question.title}"></span></a><br/>
                    </h6>
                    <p th:text="${question.description}" class="desc"></p>
                    <a href="javascript:void(0)" class="aw-user-name" th:text="${question.user.name}"></a>
                    <span class="tip">发起了问题 • <span th:text="${question.commentCount}"></span>个评论 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"> 小时前</span></span>
                </div>
            </div>
            <nav aria-label="Page navigation " class="mt-2">
                <ul class="pagination">
                    <li th:if="${questions.hasPrevious}" class="page-item">
                        <a th:href="@{/(page=${questions.currentPage -1},search=${search})}" aria-label="Previous"
                           class="page-link">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page: ${questions.pagesList}" th:class="${questions.currentPage == page}?'active':''"
                        class="page-item"><a th:href="@{/(page=${page},search=${search})}" th:text="${page}"
                                             class="page-link"></a></li>
                    <li th:if="${questions.hasNext}" class="page-item">
                        <a th:href="@{/(page=${questions.currentPage +1},search=${search})}" aria-label="Next"
                           class="page-link">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h3>热门话题</h3>
                <ul class="hotQuest">
                    <li th:each="hot:${hotQues}">
                        <a th:href="@{'/question/'+${hot.id}}" th:text="${hot.title}"></a>
                        <a style="float: right">
                            <i class="fa fa-fire" aria-hidden="true" style="color: red"></i>
                            <span th:text="${hot.view_count}"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer" style="text-align: center;margin-top: 20px" th:fragement="foot">
    <p>版权所有: sofency</p>
    <p>email:&nbsp;sofency@qq.com</p>
</div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>