<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-default" th:fragement="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- 起到动态变化的作用-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <a th:href="@{/}"><span class="sr-only">码匠社区</span></a>
            </button>
            <a class="navbar-brand" th:href="@{/}">码匠社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" action="/">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题" name="search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user !=null && session.user.accountId != 0 }"> <a href="#">通知<span class="badge"   style="margin-left:10px;" th:text="${session.unreadCount}"></span></a></li>
                <li th:if="${session.user !=null && session.user.accountId != 0 }"><a th:href="@{/publish}">提问</a></li>
                <li th:if="${session.user==null ||session.user.accountId == 0 }"><a href="javascript:void(0)" style="cursor: pointer" data-toggle="modal" data-target="#myModal">登录</a></li>
                <li th:if="${session.user==null ||session.user.accountId == 0 }"><a onclick="showLogin()"style="cursor: pointer">登录</a></li>
                <li class="dropdown" th:if="${session.user !=null && session.user.accountId != 0 }">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.user.name}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" th:if="${session.user} ne null">
                        <li><a th:href="@{/profile/questions}">我的问题</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a th:href="@{/logout}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>