<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragement="nav">
        <a class="navbar-brand col-lg-1" href="#">码匠社区</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-1">
                <li class="nav-item active" style="margin-right: 20px">
                    <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="margin-right: 20px">
                    <a class="nav-link" href="#" >看看</a>
                </li>
                <li class="nav-item" style="margin-right: 20px">
                    <form class="navbar-form navbar-left form-inline" action="/">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索问题" name="search">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:if="${session.user==null ||session.user.generateId == 0 }">
                <a href="javascript:void(0)" style="cursor: pointer" data-toggle="modal" data-target="#myModal">登录</a>
            </form>
            <form class="form-inline my-2 my-lg-0" th:if="${session.user !=null && session.user.generateId != 0 }">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-1">
                    <li class="nav-item" style="margin-right: 20px">
                        <a style="line-height: 220%;font-size: 16px" th:href="@{/profile/reply}">通知<span class="badge badge-primary badge-pill"   style="margin-left:10px;" th:text="${session.unreadCount}"></span></a>
                    </li>
                    <li class="nav-item" style="margin-right: 20px">
                        <a th:href="@{/publish}" style="height: 100%;display: block;line-height: 220%;">提问</a>
                    </li>
                    <li class="nav-item  dropdown" style="margin-right: 20px">
                        <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                 style="border: none;background-color: rgba(255,255,255,0.5);color: black;padding-left: 0;">
                            用户&nbsp;<span th:text="${session.user.generateId}"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" th:if="${session.user} ne null">
                            <a class="dropdown-item"th:href="@{/profile/questions}">我的问题</a>
                            <a class="dropdown-item" th:href="@{'/personInfo/'+${session.user.generateId}}">个人资料</a>
                            <a class="dropdown-item"th:href="@{/logout}">退出登录</a>
                        </div>
                    </li>
                </ul>
            </form>
<!--            <ul class="nav navbar-nav navbar-right col-lg-3" style="text-align: center" th:if="${session.user !=null && session.user.generateId != 0 }">-->
<!--                <li  class="col-lg-5">-->
<!--                    <div class="mr-1">-->
<!--                       -->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="col-lg-2">-->
<!--                    <div class="mr-1">-->
<!--                        <a th:href="@{/publish}" style="height: 100%;display: block;line-height: 220%;">提问</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="dropdown col-lg-5" th:if="${session.user !=null && session.user.generateId != 0 }" style="background-color: rgba(255,255,255,.5)">-->
<!--                    <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"-->
<!--                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
<!--                             style="border: none;background-color: rgba(255,255,255,0.5);color: black;">-->
<!--                        用户&nbsp;<span th:text="${session.user.generateId}"></span>-->
<!--                    </button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" th:if="${session.user} ne null">-->
<!--                        <a class="dropdown-item"th:href="@{/profile/questions}">我的问题</a>-->
<!--                        <a class="dropdown-item" th:href="@{'/personInfo/'+${session.user.generateId}}">个人资料</a>-->
<!--                        <a class="dropdown-item"th:href="@{/logout}">退出登录</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <h4 class="title">
                        <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-left: auto;margin-right: auto;">
                            <a href="#" class="common-a active regist" onmouseover="showUnderline(this)" onmouseout="hiddenLine(this)" onclick="choose(this)">注册</a>
                            <span class="circle"></span>
                            <a href="#" class="common-a login-btn" onmouseover="showUnderline(this)" onmouseout="hiddenLine(this)" onclick="choose(this)">登录</a>
                        </div>
                    </h4>
                    <div class="modal-body clearfix">
                        <!---注册的选项-->
                        <table class="self-table register">
                            <tr>
                                <td>
                                    <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="11" height="9" x="4.5" y="8" rx="2"></rect>
                                        <path fill-rule="evenodd" d="M6.5 5a3.5 3.5 0 117 0v3h-1V5a2.5 2.5 0 00-5 0v3h-1V5z" clip-rule="evenodd"></path>
                                    </svg>
                                </td>
                                <td><input type="password" name="password" placeholder="请输入密码" id="inputPassword"></td>
                            </tr>
                            <tr>
                                <td>
                                    <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="11" height="9" x="4.5" y="8" rx="2"></rect>
                                        <path fill-rule="evenodd" d="M6.5 5a3.5 3.5 0 117 0v3h-1V5a2.5 2.5 0 00-5 0v3h-1V5z" clip-rule="evenodd"></path>
                                    </svg>
                                </td>
                                <td><input type="password" placeholder="请确认密码" id="confirm"><span id="errorPwd"></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M15 16s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002zM5.022 15h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C13.516 12.68 12.289 12 10 12c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002zM10 9a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </td>
                                <td><input type="email" name="email" placeholder="请输入邮箱" id="email" onfocus="checkPwd()"></td>
                            </tr>
                        </table>
                        <div class="btn-div register-btn">
                            <button id="register-btn" onclick="submitForm()">注册</button>
                            <p class="sign-up-msg">点击 “注册” 即表示您同意并愿意遵守论坛<br>
                                用户协议 和 隐私政策 。
                            </p>
                        </div>
                        <!--登录的选项-->
                        <form action="/login" method="post">
                            <table class="self-table login" style="display: none">
                                <!--                    <input type="hidden" name="authenticity_token" th:value="#{authenticity_token}">-->
                                <tr>
                                    <td>
                                        <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15 16s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002zM5.022 15h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C13.516 12.68 12.289 12 10 12c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002zM10 9a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"></path>
                                        </svg>
                                    </td>
                                    <td><input type="email"  placeholder="请输入邮箱" id="login_email" name="email"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="11" height="9" x="4.5" y="8" rx="2"></rect>
                                            <path fill-rule="evenodd" d="M6.5 5a3.5 3.5 0 117 0v3h-1V5a2.5 2.5 0 00-5 0v3h-1V5z" clip-rule="evenodd"></path>
                                        </svg>
                                    </td>
                                    <td><input type="password" placeholder="请确认密码" id="login_password" name="password"></td>
                                </tr>
                            </table>
                            <div class="btn-div btn-div-login" style="display: none">
                                <input type="submit" value="登录" id="btn-login">
                            </div>
                        </form>
                        <div class="more-sign">
                            <h6>社交账号直接登录</h6>
                            <ul style="padding-left: 0;">
                                <li>
                                    <a href="#"><img src="/static/images/QQ.jpg" ></a>
                                </li>
                                <li>
                                    <a href="https://github.com/login/oauth/authorize?client_id=94d38df2b20a7acb563f&redirect_uri=http://localhost:8080/callback&scope=user&state=1"><img src="/static/images/Github.jpeg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>