<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/default-image.js"></script>
</head>
<body>
<div th:replace="~{navigation::nav}"></div>
<!--发布的内容标签-->
<div class="container-fluid content">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 padding" >
            <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;发布</h3>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${contentId}">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)：</label>
                    <input type="text" class="form-control col-xs-8 col-md-8 col-sm-8 col-lg-8" id="title" th:value="${title}" placeholder="问题标题..." name="title">
                </div>
                <div class="form-group">
                    <label for="description">问题描述（必填,请参照右侧提示）:</label>
                    <textarea type="text" class="form-control" id="description" cols="30" rows="10" name="description" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" placeholder="输入标签，以逗号隔开" name="tag" th:value="${tag}">
                </div>
                <div class="form-group">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0">
                        <button type="submit" class="btn btn-success publish-btn">发布</button>
                    </div>

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${error} ne null">
                        <div class="alert alert-danger" role="alert" th:text="${error}"></div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <ul>
                <li>问题标签：请用简洁的语言描述问题,不超过25个字</li>
                <li>问题补充: 详细补充你的问题,并确保问题描述的直观,并提供一些相关的资料</li>
                <li>选择标签：选择一个或多个合适的标签,用逗号隔开，每个标签不超过10个字</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>