<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>问题详情页</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/editormd.preview.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/editormd.js"></script>
    <script src="/static/lib/marked.min.js"></script>
    <script src="/static/lib/prettify.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<div th:replace="~{navigation::nav}"></div>
<div class="container-fluid content">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 padding" >
            <!--问题标题-->
            <h3><span th:text="${questionDTO.title}"></span></h3>
            <hr>
            <!--标签-->
            <em class="tagInfo" style="color: #999"><!--th:text="${questionDTO.tag}"-->
                <span th:each="tag: ${questionDTO.tags}" class="label label-default" th:text="${tag}"></span>
                <span>作者:&nbsp;<a class="text-user" th:text="${questionDTO.user.name}"></a></span>
                <span>发布于<span th:text="${time}"></span></span>
                <span>阅读数:&nbsp;<span th:text="${questionDTO.viewCount}"></span></span>
            </em>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
                <div id="test-markdown-view">
                    <textarea style="display: none;" th:text="${questionDTO.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var testView =editormd.markdownToHTML("test-markdown-view",{})
                    })
                </script>
                <hr>
                <div class="edit_tag" style="color: #999">
                    <span th:text="${time}" style="margin-right: 15px;"></span>
                    <a style="margin-right: 15px;color: #999;text-decoration: none; cursor: pointer"><span class="glyphicon glyphicon-comment"></span>添加评论</a>
                    <a style="margin-right: 15px;color: #999;text-decoration: none; cursor: pointer" th:if="${(session.user!=null) && (session.user.accountId == questionDTO.creatorId)}" th:href="@{'/publish/'+${questionDTO.id}}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
                </div>
            </div>
            <!--回复模块-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
                <h4 th:if="${comments} ne null" ><span th:text="${comments.size()}"></span>个回复</h4>
                <hr class="margin-top-0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: #999" th:if="${comments} ne null" th:each="comment:${comments}">
                    <div class="media" style="margin-bottom: 10px">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded img-default" th:src="${comment.user.avatarUrl}" alt="..." width="30" height="30" onerror="nofind();">
                            </a>
                        </div>
                        <div class="media-body text-999">
                            <span class="media-heading text-user" style="font-size: 14px" th:text="${comment.user.name}"></span><br>
                            <div th:text="${comment.content}"></div>
                            <div class="like-comment">
                                <div class="common  like"><i class="fa fa-thumbs-o-up"></i><span th:text="${comment.likeCount}"></span></div>
                                <div class="common comment" th:data-commentId="${comment.id}" onclick="watchComment(this)" data-toggle="collapse" th:attr="data-target='#customerModel'+${comment.id}" aria-expanded="false"><i class="fa fa-commenting-o"></i></div><!--评论的id作为父亲的id-->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wrap-content collapse" th:id="'customerModel'+${comment.id}">
                                <div th:id="'full-comment-second'+${comment.id}"></div>
                                <input class="form-control m-bottom" th:id="'evaluate'+${comment.id}">
                                <button class="btn btn-default" th:data-commentId="${comment.id}" onclick="comment2(this)" data-toggle="collapse" th:attr="data-target='#customerModel'+${comment.id}" aria-expanded="false">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment-hidden">
                <hr>
                <input type="hidden" id="parentId" th:value="${questionDTO.id}">
                <h4>评论</h4>
                <div class="media" style="margin-bottom: 10px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-default img-rounded" th:src="${questionDTO.user.avatarUrl}" alt="..." width="30" height="30" onerror="nofind();">
                        </a>
                    </div>
                    <div class="media-body text-999">
                        <span class="media-heading text-user" style="font-size: 14px" th:text="${questionDTO.user.name}"></span>
                    </div>
                </div>
                <textarea class="form-control" rows="6" id="content"></textarea>
                <button  class="btn btn-info btn-comment" onclick="comment1(this)">评论</button>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发起人</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-default img-rounded" th:src="${questionDTO.user.avatarUrl}" alt="..." width="30" height="30" onerror="nofind();">
                    </a>
                </div>
                <div class="media-body text-999">
                    <span class="media-heading text-user" style="font-size: 14px" th:text="${questionDTO.user.name}"></span><br>
                    西安工程大学
                </div>
            </div>
            <!--擅长话题-->
            <div class="tags">
                <span>擅长话题</span>
                <span class="label label-default" th:text="${questionDTO.tag}"></span>
                <span class="label label-primary" th:text="${questionDTO.tag}"></span>
            </div>
            <hr>
            <h3>相关问题</h3>
            <ul></ul>
        </div>
    </div>
</div>

<script src="/static/js/comment.js"></script>
<script src="/static/js/default-image.js"></script>
<script src="/static/js/getSecondComment.js"></script>
</body>
</html>